/********** intro rules **********/

#intro_section .section_wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, 1fr);
}

#intro_section div {
  width: 100%;
  height: 20vw;
  align-items: center;
  display: flex;
  justify-content: center;
  transition: 0.3s;
}

#intro_section .about_div {
  display: flex;
  flex-direction: column;
}

#intro_section .img_div {
  height: 200%;
  background-image: url("/assets/img/om_mig_img.webp");
  background-size: cover;
  background-position: 0% 30%;
  grid-column: 2/3;
  grid-row: 3/4;
}

#intro_section .cv_div {
  background-color: var(--color-accent2);
}

#intro_section .skills_div {
  background-color: var(--color-accent2);
}

/********** about rules **********/

#about_me_section .section_wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

#about_me_section h2 {
  grid-column: 2/3;
}

#about_me_section .about_me_text {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  grid-column: 2/3;
}
