/********** intro rules **********/

#intro_section .section_wrapper {
  display: grid;
  gap: 1rem;
}

#intro_section .img_div {
  height: 70vw;
  background-image: url("/assets/img/om_mig_img.webp");
  background-size: cover;
  background-position: 0% 30%;
  grid-row: 3/4;
}

#intro_section .cv_div {
  background-color: var(--color-accent2);
}

#intro_section .skills_div {
  background-color: var(--color-accent2);
}

#social_content .social_icons {
  display: flex;
  align-items: center;
  gap: 3rem;
  justify-content: center;
}

.about_me_text p {
  margin-top: 1rem;
}

#social_content {
  margin-top: 3rem;
}

/********** about rules **********/

/********** skills rules **********/

#skills_section {
  grid-column: 1/4;
  padding: 0rem;
  background-color: var(--color-secondary2);

  display: grid;
  grid-template-columns: 1fr minmax(0, 1000px) 1fr;
}

#skills_section .section_wrapper {
  display: grid;
  padding: 5rem 1rem;
  grid-column: 2/3;
  place-items: center;
}

.skills_text {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

#skills_section h2 {
  grid-column: 1/2;
  grid-row: 1/2;
}

#skills_section h2,
#skills_section h3 {
  color: var(--color-primary2);
}

#skills_section ul {
  display: flex;
  gap: 1rem;
  color: var(--color-primary2);
}

#skills_section li {
  background-color: var(--color-primary1);
  padding: 0.2rem 0.7rem;
  border-radius: 0.3rem;
}

.skill_icon svg {
  width: 40px;
  min-width: 40px;
  max-width: 100%;
  height: auto;
  fill: var(--color-secondary1);
  place-self: center;
}

.skill_icon {
  position: relative;
  display: block;
  background-color: var(--color-primary1);
  color: #222;
  text-align: center;

  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);

  border-radius: 250px;
  height: 350px;
  width: 350px;
  place-self: center;
}

.js_icon {
  grid-column: 3/4;
  grid-row: 3/4;
}
.css_icon {
  grid-column: 2/3;
  grid-row: 2/4;
}
.html_icon {
  grid-column: 4/5;
  grid-row: 4/6;
}
.figma_icon {
  grid-column: 4/6;
  grid-row: 1/4;
}
.npm_icon {
  grid-column: 1/3;
  grid-row: 4/5;
}
.github_icon {
  grid-column: 2/4;
  grid-row: 4/6;
}
.sass_icon {
  grid-column: 2/3;
  grid-row: 1/3;
}
.node_js_icon {
  grid-column: 3/5;
  grid-row: 1/3;
}

/********** cv rules **********/

#cv_section .cv_img {
  height: 200%;
  background-image: url("/assets/img/about/cv_img.jpg");
  background-size: cover;
  background-position: 0% 30%;
}

#cv_section img {
  width: 50vw;
  height: 50vw;
  align-self: center;
}

#cv_section .section_wrapper {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

@media (min-width: 465px) {
  #intro_section .img_div {
    height: 19rem;
    width: 50vw;
    place-self: center;
  }

  .skill_icon svg {
    width: 50px;
  }
}

@media (min-width: 550px) {
  .skill_icon svg {
    width: 70px;
  }

  #skills_section .section_wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .skills_text {
    grid-column: 2/3;
    grid-row: 2;
  }

  .skill_icon {
    grid-column: 1/2;
    grid-row: 2;
  }
}

@media (min-width: 800px) and (orientation: landscape) {
  /********** intro rules **********/

  #intro_section .section_wrapper {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr) auto;
  }

  #intro_section .about_div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }

  #intro_section .img_div {
    height: 200%;
    grid-column: 2/3;
    grid-row: 1/2;
    width: 100%;
    place-self: normal;
    background-position: center center;
  }

  #intro_section #social_content {
    grid-column: 2/3;
    grid-row: 3/4;
  }

  #intro_section .about_me_text {
    grid-column: 1/2;
  }

  #social_content {
    margin-top: 0rem;
  }
}
