body {
  overflow-x: hidden;
}

#introductory_section h1 span,
#introductory_section h2 span {
  display: inline-block;
}

/* .right {
  transform: translateX(100%);
  opacity: 0;
} */

/***** Arrow down *****/

/* Inspiration: https://codepen.io/raf187/pen/BvgGRQ */

.arrow_down {
  width: 50px;
  height: 50px;
  place-self: center;
  grid-column: 1/3;
  grid-row: 3/4;
}

.arrow {
  /* position: absolute;
  top: 90%;
  left: 50%; */

  transform: translate(-50%, -50%);
}
.arrow span {
  display: block;
  width: 30px;
  height: 30px;
  border-bottom: 5px solid var(--color-secondary1);
  border-right: 5px solid var(--color-secondary2);
  transform: rotate(45deg);
  margin: -10px;
  animation: animate 2s infinite;
}
/* .arrow span:nth-child(2) {
  animation-delay: -0.2s;
}
.arrow span:nth-child(3) {
  animation-delay: -0.4s;
} */
@keyframes animate {
  0% {
    opacity: 0;
    transform: rotate(45deg) translate(-20px, -20px);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: rotate(45deg) translate(20px, 20px);
  }
}
