/**** Contact form styles start ****/

form {
  max-width: 420px;
  margin: 50px auto;
  background-color: var(--color-primary1);
  padding: 1rem;
  border-radius: 0.2rem;
}

.feedback-input {
  color: var(--color-accent1);
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 18px;
  border-radius: 5px;
  line-height: 22px;
  background-color: transparent;
  border: 2px solid var(--color-primary2);
  transition: all 0.3s;
  padding: 13px;
  margin-bottom: 15px;
  width: 100%;
  box-sizing: border-box;
  outline: 0;
}

.feedback-input:focus {
  border: 2px solid var(--color-secondary1);
}

textarea {
  height: 150px;
  line-height: 150%;
  resize: vertical;
}

[type="submit"] {
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  border-radius: 5px;
  border: 0;
  cursor: pointer;

  background: var(--color-secondary1);
  color: var(--color-primary1);
  font-size: 24px;
  padding-top: 10px;
  padding-bottom: 10px;
  transition: all 0.3s;
  margin-top: -4px;
  font-weight: 700;
}
[type="submit"]:hover {
  background-color: var(--color-accent2);
}

/**** Contact form styles end ****/

.social_icons {
  display: flex;
  align-items: center;
  gap: 3rem;
  justify-content: start;
}

.email,
.number {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.number svg {
  height: 70px;
  min-height: 40px;
  max-height: 100%;
}

h1 {
  text-align: center;
}

#contact_info_section .section_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.my_info {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

@media (min-width: 675px) {
  #contact_info_section .section_wrapper {
    flex-direction: row;
  }
}
