/********** Introductory rules **********/

#introductory_section {
  width: 100%;
  height: 85vh;
  /* height: 100vh; */
  background-image: url("/assets/img/about/magnus_cutout_top.webp");
  /* background-image: linear-gradient(
      90deg,
      rgba(221, 232, 225, 0.25) 0%,
      rgba(220, 255, 216, 0.25) 100%
    ),
    url("/assets/img/about/magnus_cutout_top.webp"); */
  background-position: 90% 100%;
  background-size: contain;
  background-repeat: no-repeat;

  padding-top: 35vh;
}

#introductory_section .section_wrapper {
  display: grid;
  place-content: center;
}

#introductory_section h2 {
  font-size: clamp(2rem, 12vw + 1rem, 2.25rem);
  text-align: center;
  font-weight: 500;
}

#introductory_section h1 {
  font-size: 2.2rem;
  place-self: end;
}

/********** about rules **********/

#highlight_section {
  display: grid;
  grid-template-columns: 1fr minmax(0, 1000px) 1fr;
  grid-column: 1/4;
  background-color: var(--color-secondary2);
  padding: 4rem 2rem;
  border-radius: 0 0 0.5rem 0.5rem;
  margin-top: 0;
}

#highlight_section h2 {
  grid-column: 2/3;
  color: var(--color-primary2);
}

#highlight_section p {
  color: var(--color-primary2);
  font-size: clamp(1.5rem, 2vw + 1rem, 2.25rem);
  line-height: 3.2rem;
  /* text-align: center; */
}

#highlight_section a {
  color: var(--color-primary2);
}

#highlight_section .section_wrapper {
  gap: 2rem;
  grid-column: 2/3;
}

#highlight_section .about_text {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

/*****/

#about_section .section_wrapper {
  display: grid;
  gap: 1rem;
}

#about_section .about_text {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

#about_section .links {
  display: flex;
  justify-content: center;
  gap: 3rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.btn {
  background-color: var(--color-accent1);
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  color: var(--color-primary1);
}

#about_section .skills_text ul {
  display: flex;
  gap: 1rem;
}
#about_section .skills_text li {
  background-color: var(--color-secondary2);
  color: var(--color-primary1);
  padding: 0.2rem 0.6rem;
  border-radius: 0.5rem;
}

#about_section .skill_icon {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  place-items: center;
  gap: 2rem;
}

#skills_section .skill_boxs {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 3rem;
  place-items: center;
}

#skills_section .skill_box {
  height: 8rem;
  width: 8rem;
  padding-top: 2.5rem;
  border: 0.5rem var(--color-secondary1) solid;
  border-radius: 0.2rem;
  text-align: center;
}

#skills_section {
  overflow: hidden;
}

#skills_section .skill_icon {
  /* display: grid;
  grid-template-columns: repeat(8, 1fr);
  place-items: center;
  gap: 5rem; */
  display: flex;
  justify-content: space-around;
}

#skills_section .skills_text div {
  margin-bottom: 1.2rem;
}

/********** projects rules **********/

/* #projects_section {
  background-color: var(--color-secondary2);
  padding-bottom: 5rem;
  grid-column: 1/4;
  display: grid;
  grid-template-columns: 1fr minmax(0, 1000px) 1fr;
}
#projects_section .section_wrapper {
  grid-column: 2/3;
}
#projects_section h2 {
  color: var(--color-primary2);
}
.project_card_info a {
  background-color: var(--color-primary1);
} */

/* card rules */
#projects_section .section_wrapper {
  display: grid;
  margin-top: 2rem;
  /* grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); */
  /* grid-gap: 1rem; */
  grid-column: 2/3;
  /* grid-row: 2; */
}

.project_card {
  border-radius: 0.5rem;
  box-shadow: 2px 2px 2px var(--color-secondary1);
  /* background-color: var(--color-accent1); */
  position: relative;
}

.project_card ul {
  position: absolute;
  left: 0;
  /* bottom: 9vh; */
  display: flex;
  gap: 1rem;
  padding: 1rem;
}

.project_card li {
  background-color: var(--color-primary2);
  padding: 0.2rem 0.6rem;
  border-radius: 0.2rem;
}

.project_card_info a {
  display: flex;
  justify-content: space-between;
  background-color: var(--color-secondary2);
  border-radius: 0 0 0.5rem 0.5rem;
  padding: 1rem;
  align-items: center;
}

.project_card_info img {
  width: 30px;
}

.project_card h3 {
  /* font-size: 1.4rem; */
  color: var(--color-primary2);
}

#projects_section h2 {
  grid-column: 2/3;
}

.projects_cards {
  display: grid;
  margin-top: 2rem;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 3rem;
  grid-column: 2/3;
  grid-row: 2;
}

.project_card img {
  object-fit: cover;
  /* opacity: 0.5; */
  transition: 0.5s;
  border-radius: 0.5rem;
}

.project_card img:hover {
  opacity: 0.5;
}

#projects_section svg {
  width: 35px;
  height: 35px;
  fill: var(--color-primary2);
}

@media (min-width: 600px) {
  /********** Introductory rules **********/

  #introductory_section {
    padding: 0;
    display: grid;
    grid-template-columns: 1fr minmax(0, 800px) 1fr;
    padding: 2rem 0;
  }

  #introductory_section .section_wrapper {
    grid-column: 2/3;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }

  #introductory_section h1 {
    font-size: clamp(1.8rem, 0.6rem + 5.3333vw, 3.4rem);
    place-self: center baseline;
    grid-column: 1/3;
    padding-left: 1rem;
  }

  #introductory_section h2 {
    font-size: clamp(1.8rem, 0.6rem + 5.3333vw, 3.4rem);
    text-align: end;
    padding-right: 1rem;
    grid-column: 1/3;
    grid-row: 2/3;
  }

  /********** about rules **********/

  #about_section .skill_icon {
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
  }
}

@media (min-width: 800px) and (orientation: landscape) {
  /********** projects rules **********/

  .projects_cards {
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  }

  /********** about rules **********/

  #highlight_section .section_wrapper {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }

  #highlight_section .section_wrapper {
    gap: 0;
  }

  #about_section .section_wrapper {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
  }

  #about_section h2 {
    grid-column: 1/3;
  }

  #about_section .about_content {
    grid-column: 1/2;
    grid-row: 2/3;
  }

  #about_section .skill_icon {
    place-items: normal;
  }
}
