/********** Introductory rules **********/

#introductory_section img {
  /* max-width: 40%; */
  grid-column: 3/4;
  grid-row: 1;
  justify-self: center;
  width: 40vw;
}

#introductory_section .section_wrapper {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;

  background-image: url("/assets/img/om_mig_img.webp");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 57vh;
}

#introductory_section p {
  font-size: clamp(2rem, 12vw + 1rem, 2.25rem);
  text-align: center;
}

/********** about rules **********/

#about_section {
  display: grid;
  grid-template-columns: 1fr minmax(0, 1000px) 1fr;
  grid-column: 1/4;
  background-color: var(--color-secondary2);
  padding: 4rem 2rem;
  border-radius: 0 0 0.5rem 0.5rem;
}

#about_section h2 {
  grid-column: 2/3;
  color: var(--color-primary2);
}

#about_section p {
  color: var(--color-primary2);
  font-size: clamp(1.5rem, 2vw + 1rem, 2.25rem);
  line-height: 3.2rem;
  /* text-align: center; */
}

#about_section a {
  color: var(--color-primary2);
}

#about_section .section_wrapper {
  gap: 2rem;
  grid-column: 2/3;
}

#about_section .about_text {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

/********** projects rules **********/

/* card rules */
#projects_section .section_wrapper {
  display: grid;
  margin-top: 2rem;
  /* grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); */
  /* grid-gap: 1rem; */
  grid-column: 2/3;
  /* grid-row: 2; */
}

.project_card {
  border-radius: 0.5rem;
  box-shadow: 2px 2px 2px var(--color-secondary1);
  /* background-color: var(--color-accent1); */
}

.project_card_info a {
  display: flex;
  justify-content: space-between;
  background-color: var(--color-secondary2);
  border-radius: 0 0 0.5rem 0.5rem;
  padding: 1rem;
  align-items: center;
}

.project_card_info img {
  width: 30px;
}

.project_card h3 {
  /* font-size: 1.4rem; */
  color: var(--color-primary2);
}

#projects_section h2 {
  grid-column: 2/3;
}

.projects_cards {
  display: grid;
  margin-top: 2rem;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 3rem;
  grid-column: 2/3;
  grid-row: 2;
}

.project_card img {
  object-fit: cover;
  /* opacity: 0.5; */
  transition: 0.5s;
  border-radius: 0.5rem;
}

.project_card img:hover {
  opacity: 0.5;
}

#projects_section svg {
  width: 35px;
  height: 35px;
  fill: var(--color-primary2);
}

@media (min-width: 540px) {
  /********** Introductory rules **********/

  #introductory_section p {
    font-size: 10vw;
  }
}

@media (min-width: 800px) and (orientation: landscape) {
  /********** projects rules **********/

  .projects_cards {
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  }

  /********** about rules **********/

  #about_section .section_wrapper {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }

  #about_section .section_wrapper {
    gap: 0;
  }
}

@media (min-width: 1075px) {
  /********** Introductory rules **********/

  #introductory_section p {
    font-size: 8vw;
  }
}

@media (min-width: 1325px) {
  /********** Introductory rules **********/

  #introductory_section p {
    font-size: 6vw;
  }
}

@media (min-width: 2200px) {
  /********** Introductory rules **********/

  #introductory_section p {
    font-size: 4vw;
  }
}

@media (min-width: 3320px) {
  /********** Introductory rules **********/

  #introductory_section p {
    font-size: 2vw;
  }
}
