/********** baseline rules **********/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  overflow-wrap: break-word;
  hyphens: auto;
  line-height: 1.5;
  font-size: 16px;
  background-color: var(--color-primary1);
}

img {
  display: block;
  width: 100%;
  height: auto;
}

html {
  /* --color-primary1: #879f87; */
  /* --color-primary1: #abb9ab; */
  /* --color-primary1: #b7dfb7; */
  --color-primary1: #dae8da;
  --color-primary2: #f9f9f9;

  --color-secondary1: #171216;
  --color-secondary2: #284039;
  /* --color-secondary2: #dee5de; */
  /* --color-secondary2: #b4abaf; */
  /* --color-secondary2: #ac7289; */

  --color-accent1: #452e37;
  --color-accent2: #3a2e39;

  --space-xxs: 0.25rem;
  --space-xs: 0.5rem;
  --space-sm: 1rem;
  --space-md: 1.5rem;
  --space-lg: 2rem;
  --space-xl: 3rem;
  --space-xxl: 6rem;

  scroll-behavior: smooth;
  scroll-padding-top: 5rem;
  margin: 0rem;
}

html[data-theme="dark"] {
  --color-primary1: #284039;
  --color-primary2: #171216;

  /* --color-secondary1: #452e37;
  --color-secondary2: #3a2e39;

  --color-accent1: #dae8da;
  --color-accent2: #f9f9f9; */

  --color-secondary1: #f9f9f9;
  --color-secondary2: #dae8da;

  /* --color-accent1: #efc0d2; */
  /* --color-accent1: #452e37; */
  --color-accent1: #ffb9d1;
  --color-accent2: #3a2e39;

  /* --color-primary1: #171216;
  --color-primary2: #452e37;

  --color-secondary1: #879f87;
  --color-secondary2: #f9f9f9;

  --color-accent1: #3a2e39;
  --color-accent2: #284039; */
}

h1 {
  font-family: p22-mackinac-pro, serif;
  font-weight: 800;
  font-style: normal;
  font-size: 3.2rem;
  color: var(--color-secondary1);
}

h2,
h3 {
  font-family: p22-mackinac-pro, serif;
  font-weight: 700;
  font-style: normal;
  color: var(--color-secondary1);
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.6rem;
}

h4 {
  font-family: p22-mackinac-pro, serif;
  font-weight: 700;
  font-style: normal;
  font-size: 1.2rem;
  color: var(--color-secondary1);
}

p {
  font-family: p22-mackinac-pro, serif;
  font-weight: 400;
  font-style: normal;
  line-height: 1.8rem;
  font-size: 1rem;
  color: var(--color-secondary1);
}

.sans_p {
  font-family: "Open Sans", sans-serif;
}

a {
  font-family: p22-mackinac-pro, serif;
  font-weight: 700;
  font-style: normal;
  color: var(--color-secondary1);
  font-size: 1.2rem;
  transition: 1s;
  /* text-decoration: 4px underline var(--color-primary1); */
}

a:hover:not(.arrow) {
  /* text-decoration: 4px underline var(--color-accent2); */
  /* color: var(--color-accent2); */
  text-decoration: 4px underline var(--color-secondary1);
  animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  transform: translate3d(0, 0, 0);
}

/* .btn_a {
  background-color: var(--color-accent1);
  padding: 1.5rem 4rem;
  border-radius: 0.3rem;
  color: var(--color-primary2);
  font-size: 2rem;
}

.btn_a:hover {
  background-color: var(--color-accent2);
  border-radius: 2.5rem;
} */

a svg,
svg {
  display: block;
  width: 40px;
  /* width: 70px;
  min-width: 40px;
  max-width: 100%; */
  /* height: auto; */
  height: 40px;
  fill: var(--color-accent1);
}

ul {
  font-family: p22-mackinac-pro, serif;
  font-style: normal;
  list-style: none;
  color: var(--color-secondary1);
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }
  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-2px, 0, 0);
  }
  40%,
  60% {
    transform: translate3d(2px, 0, 0);
  }
}

progress {
  position: fixed;
  z-index: 5;
  top: 0;
  left: 0;
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 12px;
  border: none;
  /* background-color: transparent; */
  background-color: var(--color-primary1);
}

progress::-moz-progress-bar {
  background-color: var(--color-secondary1);
  background-attachment: scroll;
  background-attachment: fixed;
}

/********** Main layout rules **********/
main {
  display: grid;
  grid-template-columns: 1fr minmax(0, 1000px) 1fr;
}

main > section {
  grid-column: 2/3;
  padding-left: var(--space-sm);
  padding-right: var(--space-sm);
  margin-top: 4rem;
}

/********** Menu rules **********/
header {
  background-color: var(--color-primary1);
  /* position: fixed; */
  width: 100%;
  position: sticky;
  position: -webkit-sticky;
  /* top: 12px; */
  top: 0;
  left: 0;
  z-index: 1000;
}

header nav {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  box-shadow: 0px 2px 5px var(--color-primary1);
  /* background-color: var(--color-primary2); */
}

header ul {
  display: flex;
  list-style: none;
  gap: 2rem;
  align-items: center;
}

.logo {
  align-self: center;
  background-color: var(--color-primary1);
  border-radius: 0.5rem;
  padding: 0rem 0.5rem;
}

.logo img {
  width: 70px;
  min-width: 40px;
  max-width: 100%;
  height: auto;
}

.logo:hover {
  opacity: 0.8;
}

#menu a {
  font-size: 1.5rem;
  text-decoration: transparent;
  background-color: var(--color-primary1);
  padding: 0rem 0.5rem;
  border-radius: 0.5rem;
}

#menu .github_icon {
  padding: 0.1rem;
  border-radius: 1rem;
}

/********** aside rules **********/

aside {
  position: fixed;
  bottom: 0;
  right: 0;
  display: flex;
  align-items: end;
  gap: 1rem;
  padding: 1rem;
  border-radius: 1rem 0 0 0;
  z-index: 99;
}

aside a {
  display: block;
  /* width: 70px; */
  /* min-width: 40px;
  max-width: 100%; */
  height: auto;
  fill: var(--color-accent1);
  background-color: var(--color-primary1);
  border-radius: 3rem;
  padding: 0.1rem;
}

.toggle-container {
  background-color: var(--color-primary1);
  border-radius: 1rem;
  padding: 0.1rem;
}

/********** footer rules **********/

#contact_footer {
  display: grid;
  grid-template-columns: 1fr minmax(0, 1000px) 1fr;
  padding: 5rem 1rem 5rem 1rem;
  margin-top: 5rem;
  background-color: var(--color-secondary2);
}

#contact_footer .footer_wrapper {
  display: grid;
  grid-template-rows: auto;
  gap: 2rem;
  grid-column: 2/3;
}

#contact_footer a {
  font-size: 5rem;
  color: var(--color-primary1);
}

#contact_footer h2 {
  text-align: center;
  color: var(--color-primary2);
}

.my_info {
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.my_info .contact_info {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.contact_info div {
  display: flex;
  align-items: center;
  gap: 2rem;
}

#contact_footer .my_info p {
  font-weight: 700;
  font-size: 1.2rem;
  color: var(--color-primary2);
}

#contact_footer .social_icons {
  display: flex;
  gap: 2rem;
}

#contact_footer svg {
  fill: var(--color-accent1);
  background-color: var(--color-primary1);
  border-radius: 0.2rem;
}

#contact_footer a .github_icon {
  border-radius: 1.2rem;
  padding: 0.1rem;
}

/********** night mode start **********/

html[data-theme="dark"] p {
  color: var(--color-secondary2);
}

html[data-theme="dark"] #highlight_section {
  background-color: var(--color-primary2);
}
html[data-theme="dark"] #highlight_section p {
  color: var(--color-secondary1);
}

html[data-theme="dark"] .project_card_info {
  /* background-color: var(--color-secondary2); */
  background-color: var(--color-primary2);
}
html[data-theme="dark"] .project_card h3 {
  /* color: var(--color-primary2); */
  color: var(--color-secondary2);
}
html[data-theme="dark"] #projects_section svg {
  /* fill: var(--color-primary2); */
  fill: var(--color-secondary2);
}
html[data-theme="dark"] .project_card {
  /* box-shadow: 2px 2px 2px var(--color-secondary1); */
  box-shadow: 2px 2px 2px var(--color-primary2);
}
html[data-theme="dark"] .project_card .direct_link {
  background-color: var(--color-primary2);
}

html[data-theme="dark"] #contact_footer {
  background-color: var(--color-primary2);
}
html[data-theme="dark"] #contact_footer p {
  color: var(--color-secondary2);
}
html[data-theme="dark"] #contact_footer h2 {
  color: var(--color-secondary1);
}

/********** night mode end **********/

/********** media qys start **********/

@media (min-width: 600px) {
  /********** footer rules **********/
  .social_icons {
    flex-direction: column;
    justify-content: space-between;
  }

  .my_info {
    flex-direction: row;
  }
}

@media screen and (min-width: 650px) {
  header {
    position: static;
  }
}
