/********** baseline rules **********/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  overflow-wrap: break-word;
  hyphens: auto;
  line-height: 1.5;
  font-size: 16px;
  background-color: var(--color-primary1);
}

img {
  display: block;
  width: 100%;
  height: auto;
}

html {
  /* --color-primary1: #879f87; */
  --color-primary1: #abb9ab;
  --color-primary2: #f9f9f9;

  --color-secondary1: #171216;
  --color-secondary2: #284039;
  /* --color-secondary2: #dee5de; */
  /* --color-secondary2: #b4abaf; */
  /* --color-secondary2: #ac7289; */

  --color-accent1: #452e37;
  --color-accent2: #3a2e39;

  --space-xxs: 0.25rem;
  --space-xs: 0.5rem;
  --space-sm: 1rem;
  --space-md: 1.5rem;
  --space-lg: 2rem;
  --space-xl: 3rem;
  --space-xxl: 6rem;

  scroll-behavior: smooth;
  scroll-padding-top: 5rem;
  margin: 0rem;
}

html[data-theme="dark"] {
  --color-primary1: #171216;
  --color-primary2: #452e37;

  --color-secondary1: #879f87;
  --color-secondary2: #f9f9f9;

  --color-accent1: #3a2e39;
  --color-accent2: #284039;
}

h1 {
  font-family: p22-mackinac-pro, serif;
  font-weight: 800;
  font-style: normal;
  font-size: 3.2rem;
}

h2,
h3 {
  font-family: p22-mackinac-pro, serif;
  font-weight: 700;
  font-style: normal;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.6rem;
}

h4 {
  font-family: p22-mackinac-pro, serif;
  font-weight: 700;
  font-style: normal;
  font-size: 1.2rem;
}

p {
  font-family: p22-mackinac-pro, serif;
  font-weight: 400;
  font-style: normal;
  line-height: 1.8rem;
  font-size: 1rem;
}

a {
  font-family: p22-mackinac-pro, serif;
  font-weight: 700;
  font-style: normal;
  color: var(--color-secondary1);
  font-size: 1rem;
  transition: 1s;
}

a:hover {
  text-decoration: 4px underline var(--color-accent2);
  color: var(--color-accent2);
  animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  transform: translate3d(0, 0, 0);
}

a svg,
svg {
  display: block;
  width: 70px;
  min-width: 40px;
  max-width: 100%;
  height: auto;
  fill: var(--color-accent1);
}

ul {
  font-family: p22-mackinac-pro, serif;
  font-style: normal;
  list-style: none;
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }
  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-2px, 0, 0);
  }
  40%,
  60% {
    transform: translate3d(2px, 0, 0);
  }
}

/********** Main layout rules **********/
main {
  display: grid;
  grid-template-columns: 1fr minmax(0, 1000px) 1fr;
}

main > section {
  grid-column: 2/3;
  padding-left: var(--space-sm);
  padding-right: var(--space-sm);
  margin-top: 4rem;
}

/********** Menu rules **********/
header {
  background-color: var(--color-primary1);
  box-shadow: 1px 1px 2px 5px var(--box-shadow-1);
  /* position: sticky; */
  top: 0;
  left: 0;
}

header nav {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  /* background-color: var(--color-primary2); */
}

header ul {
  display: flex;
  list-style: none;
  gap: 2rem;
  align-items: center;
}

.logo {
  align-self: center;
}

.logo img {
  width: 70px;
  min-width: 40px;
  max-width: 100%;
  height: auto;
}

.logo:hover {
  opacity: 0.8;
}

#menu a {
  font-size: 1.5rem;
}

/********** aside rules **********/

aside {
  position: fixed;
  bottom: 0;
  right: 0;
  display: flex;
  align-items: end;
  gap: 1rem;
  padding: 1rem;
  border-radius: 1rem 0 0 0;
}

aside a {
  display: block;
  width: 70px;
  min-width: 40px;
  max-width: 100%;
  height: auto;
  fill: var(--color-accent1);
  background-color: var(--color-primary1);
  border-radius: 3rem;
  padding: 0.1rem;
}

.toggle-container {
  background-color: var(--color-primary1);
  border-radius: 1rem;
  padding: 0.1rem;
}

/********** footer rules **********/

#contact_footer {
  display: grid;
  grid-template-columns: 1fr minmax(0, 1000px) 1fr;
  padding: 5rem 1rem 5rem 1rem;
  margin-top: 5rem;
  /* background-color: var(--color-secondary2); */
}

#contact_footer .footer_wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column: 2/3;
}

#contact_footer h2 {
  /* color: var(--color-primary2); */
  grid-column: 1/3;
}

#contact_footer a {
  font-size: 5rem;
  color: var(--color-primary1);
}

.my_info {
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.my_info div {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.my_info .number svg {
  height: 70px;
}

.email p,
.number p {
  font-weight: 700;
  font-size: 1.2rem;
}

/**** Contact form start ****/

form {
  max-width: 420px;
  margin: 1rem auto;
  background-color: var(--color-primary1);
  padding: 1rem;
  border-radius: 0.2rem;
}

.feedback-input {
  color: var(--color-secondary1);
  font-family: p22-mackinac-pro, serif;
  font-weight: 500;
  font-size: 1rem;
  border-radius: 5px;
  line-height: 1rem;
  background-color: transparent;
  border: 3px solid var(--color-primary2);
  border: 0;
  border-bottom: 0.5rem solid var(--color-accent1);
  transition: all 0.3s;
  padding: 0.7rem;
  margin-bottom: 1.5rem;
  width: 100%;
  outline: 0;
}

.feedback-input:focus {
  /* border: 2px solid var(--color-secondary1); */
  border-bottom: 1rem solid var(--color-secondary1);
}

textarea {
  height: 150px;
  line-height: 150%;
  resize: vertical;
}

[type="submit"] {
  font-family: p22-mackinac-pro, serif;
  width: 100%;
  border-radius: 5px;
  border: 0;
  cursor: pointer;

  background: var(--color-accent1);
  color: var(--color-primary1);
  font-size: 1.8rem;
  font-weight: 700;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-top: -4px;

  transition: all 0.5s;
}
[type="submit"]:hover {
  background-color: var(--color-secondary1);
}

/**** Contact form end ****/
