/********** baseline rules **********/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  overflow-wrap: break-word;
  hyphens: auto;
  line-height: 1.5;
  font-size: 16px;
  background-color: var(--color-primary1);
}

img {
  display: block;
  width: 100%;
  height: auto;
}

html {
  --color-primary1: #879f87;
  --color-primary2: #f9f9f9;

  --color-secondary1: #171216;
  --color-secondary2: #452e37;

  --color-accent1: #3a2e39;
  --color-accent2: #284039;

  /* --box-shadow-1: #0206053d; */

  --space-xxs: 0.25rem;
  --space-xs: 0.5rem;
  --space-sm: 1rem;
  --space-md: 1.5rem;
  --space-lg: 2rem;
  --space-xl: 3rem;
  --space-xxl: 6rem;

  scroll-behavior: smooth;
  scroll-padding-top: 5rem;
  margin: 0rem;
}

html[data-theme="dark"] {
  --color-primary1: #171216;
  --color-primary2: #452e37;

  --color-secondary1: #879f87;
  --color-secondary2: #f9f9f9;

  --color-accent1: #3a2e39;
  --color-accent2: #284039;

  /* --box-shadow-1: #0206053d; */
}

h1 {
  font-family: p22-mackinac-pro, serif;
  font-weight: 800;
  font-style: normal;
}

h2,
h3 {
  font-family: p22-mackinac-pro, serif;
  font-weight: 500;
  font-style: normal;
}

h4 {
  font-family: p22-mackinac-pro, serif;
  font-weight: 400;
  font-style: normal;
}

p {
  font-family: p22-mackinac-pro, serif;
  font-weight: 400;
  font-style: normal;
  line-height: 1.8rem;
  font-size: 1rem;
}

a {
  font-family: p22-mackinac-pro, serif;
  font-weight: 700;
  font-style: normal;
  color: var(--color-secondary1);
  font-size: 1.5rem;
  transition: 1s;
}

a:hover {
  text-decoration: 4px underline var(--color-accent2);
  color: var(--color-accent2);
  animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  transform: translate3d(0, 0, 0);
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }
  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-2px, 0, 0);
  }
  40%,
  60% {
    transform: translate3d(2px, 0, 0);
  }
}

/********** Main layout rules **********/
main {
  display: grid;
  grid-template-columns: 1fr minmax(0, 1000px) 1fr;
}

main > section {
  grid-column: 2/3;
  padding-left: var(--space-sm);
  padding-right: var(--space-sm);
  margin-top: 4rem;
}

/********** Menu rules **********/
header {
  background-color: var(--color-primary1);
  box-shadow: 1px 1px 2px 5px var(--box-shadow-1);
  /* position: sticky; */
  top: 0;
  left: 0;
}

header nav {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  /* background-color: var(--color-primary2); */
}

header ul {
  display: flex;
  list-style: none;
  gap: 2rem;
  align-items: center;
}

.logo {
  align-self: center;
}

.logo img {
  width: 70px;
  min-width: 40px;
  max-width: 100%;
  height: auto;
}

.logo:hover {
  opacity: 0.8;
}

/********** Introductory rules **********/

#introductory_section img {
  /* max-width: 40%; */
  grid-column: 3/4;
  grid-row: 1;
  justify-self: center;
  width: 40vw;
}

#introductory_section .section_wrapper {
  /* display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center; */

  background-image: url("/assets/img/om_mig_img.webp");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 57vh;

  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;

  /* 
  display: grid;
  grid-template-columns: 1fr repeat(5, 2fr) 1fr;
  grid-template-rows: repeat(5, 1fr); */
}

#introductory_section p:first-child {
  grid-area: 1 / 2 / 2 / 6;
  font-size: 2rem;
  align-self: center;
}
#introductory_section h1:nth-child(2) {
  grid-area: 4 / 1 / 4 / 6;
  font-size: 2.2rem;
}
#introductory_section p:last-child {
  grid-area: 5 / 3 / 5 / 6;
  font-size: 1.5rem;
}

/********** projects rules **********/

/* card rules */
#projects_section .section_wrapper {
  display: grid;
  margin-top: 2rem;
  /* grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); */
  /* grid-gap: 1rem; */
  grid-column: 2/3;
  /* grid-row: 2; */
}

/* .project_card img {
  border-radius: 0.5rem 0.5rem 0 0;
} */

.project_card {
  border-radius: 0.5rem;
  box-shadow: 1px 1px 1px var(--color-secondary1);
  background-color: var(--color-primary1);
}

.project_card_info a {
  display: flex;
  justify-content: space-between;
  background-color: var(--color-primary1);
  border-radius: 0 0 0.5rem 0.5rem;
  padding: 1rem;
  align-items: center;
}

.project_card_info img {
  width: 30px;
}

.project_card h3 {
  font-size: 1.4rem;
}

#projects_section {
  background-color: var(--color-accent1);
  padding: 2rem 2rem 8rem 2rem;
  grid-column: 1/4;
  display: grid;
  grid-template-columns: 1fr minmax(0, 1000px) 1fr;
  border-radius: 0 0 0.5rem 0.5rem;
  /* grid-template-columns: auto; */
}

#projects_section h2 {
  grid-column: 2/3;
  color: var(--color-primary2);
}

.projects_cards {
  display: grid;
  margin-top: 2rem;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 3rem;
  grid-column: 2/3;
  grid-row: 2;
}

.project_card img {
  object-fit: cover;
  opacity: 0.5;
  transition: 0.5s;
}

.project_card img:hover {
  opacity: 1;
}

/********** about rules **********/

#about_section .section_wrapper {
  display: grid;
  gap: 2rem;
}

#about_section .about_text {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.cv,
.skills {
  width: 100%;
  height: 20vw;
  background-color: var(--color-accent2);
  align-items: center;
  display: flex;
  justify-content: center;
  transition: 0.3s;
}

.cv:hover,
.skills:hover {
  background-color: var(--color-primary1);
  border: 1rem solid var(--color-accent2);
}

/********** aside rules **********/

aside {
  display: flex;
  align-items: end;
  /* flex-direction: column; */
  position: sticky;
  bottom: 0;
  justify-content: end;
  padding: 1rem;
  gap: 1rem;
}

.arrow_top img {
  width: 70px;
  min-width: 40px;
  max-width: 100%;
  height: auto;
}

/* .arrow_top img:hover {
  background-image: url("/assets/img/icons/circle-arrow-up-solid.svg");
  fill: red;
  z-index: 1;
} */

/********** footer rules **********/

footer {
  background-color: var(--color-accent1);
  /* display: grid;
  grid-template-columns: 1fr minmax(0, 1000px) 1fr; */
  padding: 5rem 1rem 5rem 1rem;
}
footer h2 {
  /* font-size: 2.5rem; */
  font-size: 13vw;
  color: var(--color-primary2);
}
footer a {
  font-size: 5rem;
  color: var(--color-primary1);
}
footer .section_wrapper {
  grid-column: 2/3;
}

@media (min-width: 800px) and (orientation: landscape) {
  /********** projects rules **********/

  /* card rules */
  /* #projects_section .section_wrapper {
    display: grid;
    margin-top: 2rem;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    grid-gap: 1rem;
  } */

  .projects_cards {
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  }

  /********** about rules **********/

  #about_section .section_wrapper {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }

  #about_section .section_wrapper {
    gap: 0;
  }
}
